* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Italiana'
}

body {
    background-color: #5fd6eb;
}

header {
    /*puts header elements on same horizontal plane */
    display: flex;
    justify-content: space-between;
    height: 100px;
    /*vertically centers header elements*/
    align-items: center;
    padding: 30px;
    background: paleturquoise;
    font-size: 30px;
}

ul {
    /*puts ul elements on same horizontal plane*/
    display: flex;
    /*removes bullet-point from ul items*/
    list-style-type: none;

}

ul li a {
    /*removes underline from a elements*/
    text-decoration: none;
    /*right padding 10px*/
    padding: 0 10px;
    /*allows for horizontal/vertical paddings*/
    display: inline-block;
    color: #103967;
    font-weight: 600;
}

a:hover {
    color: hsl(237, 92%, 51%);
}

a:active {
    color: #cb64f7;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    background: #103967;
    color: white;
}

.welcome-title p {
    font-size: 200px;
    padding-top: 300px;
    padding-left: 100px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images img {
    width: 90%;
    transition: transform .2s;
}

.cat-image:hover,
.joke-image:hover,
.weather-image:hover {
    -webkit-transform: scale(1.1);

    transform: scale(1.1);
}

/*About Page*/
.about-title {
    padding-top: 60px;
    font-size: 80px;
    text-align: center;
    padding-bottom: 70px;
    color: #103967;
}

.about-box {
    margin: auto;
    border: 7px solid #ACE6E0;
    border-radius: 20px;
    width: 80%;
    font-size: 40px;
    line-height: 70px;
    padding: 30px;
    background-color: #ACE6E0;
}

.about-box p {
    margin-bottom: 20px;

}

/*Cats Page*/
.cat-title p {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 60px;
    color: #103967;
}

.cat-button {
    text-align: center;
}

.cat-result {
    border-top: 20px solid #A5E9E2;
    width: 700px;
    height: 700px;
    border-radius: 20px;
    background-color: #A5E9E2;
}

.cat-result img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.cat-result p {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    color: #103967;
}

.cat-container img {
    width: 600px;
    height: 600px;
}

.cat-button {
    padding-top: 50px;
}

/*Jokes Page*/
.jokes-page {
    padding-top: 200px;
}

.jokes-title p {
    text-align: center;
    /* margin: 50px; */
    font-weight: 700;
    font-style: italic;
    font-size: 70px;
    color: #103967;
}

.joke-result {
    border-radius: 10px;
    width: 900px;
    height: 400px;
    text-align: center;
    margin-left: 50px;
    margin-top: 70px;
    box-shadow: 30px 30px 40px 5px;
    background-color: #ACE6E0;
    color: #112A46;
}

.joke-container {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    word-wrap: break-word;
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.joke-button {
    text-align: center;
    padding-top: 30px;
}

/*Weather Page*/
.weather-title {
    /* text-align: center; */
    padding-bottom: 30px;
    font-size: 100px;
    padding-top: 100px;
    color: #103967;
}

.city {
    width: 400px;
    font-size: 30px;
    padding: 3px 20px 4px 5px;
}

.weather-button {
    margin-left: 20px;
    width: 250px;
    font-size: 30px;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    background: #103967;
    color: white;
}


.weather-form {
    text-align: center;
}

.weather-result {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.weather-result div {
    width: 100%;
    height: 400px;
    background: linear-gradient(#5fd6eb, rgb(10, 45, 117));
    border: 2px solid rgb(10, 45, 117);
    color: white;
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    border-radius: 10px;
    font-size: 30px;

}

/*contact page*/
.contact-title p {
    padding-top: 60px;
    font-size: 80px;
    text-align: center;
    padding-bottom: 70px;
    color: #103967;
}

.contact-message p {
    font-size: 35px;
    text-align: center;
    color: #103967;
    padding-bottom: 70px;
}

.contact-email {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A5E9E2;
    width: 40%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.contact-email img {
    max-width: 80px;
}

.contact-email p {
    font-size: 35px;
    color: #103967;
    margin-left: 20px;
}

/* margin: auto;
border: 7px solid #ACE6E0;
border-radius: 20px;
width: 80%;
font-size: 40px;
line-height: 70px;
padding: 30px;
background-color: #ACE6E0; */